/* @tailwind base;
@tailwind components;
@tailwind utilities; */

/* #offCan {
  transition: all 0.3s ease-in-out;
}

.show {
  display: block !important;
  opacity: 1 !important;
}

.hide {
  display: none !important;
  opacity: 0 !important;
}

.new-class {
  background-color: blue !important;
}

#nav {
  background-color: #EFF0F5;
}

#nav i:hover {
  cursor: pointer !important;
  background-color: red !important;
}

@media screen and (min-width: 768px) {
  .offcanvas-btn2 {
    display: none !important;
  }
}

@media screen and (max-width: 768px) {
  #offCan {
    display: none !important;
  }

  #nav {
    width: 100% !important;
  }

  .offcanvas-btn {
    display: none !important;
  }
} */



.agree-btn {
  color: #fff !important;
  background-color: #28a745 !important;
  border-color: #28a745 !important;
}

.agree-btn:hover {
  color: #fff;
  background-color: #218838 !important;
  border-color: #1e7e34 !important;
}

.agree-btn:focus, .agree-btn.focus {
  color: #fff;
  background-color: #218838 !important;
  border-color: #1e7e34 !important;
  box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.5) !important;
}


/* Styles for the search input and suggestions */
.search-container {
  position: relative;
  width: 100%;
}

.search-input {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  outline: none;
  transition: border-color 0.3s ease-in-out;
}

.search-input:focus {
  border-color: #007bff;
}

.suggestions {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  max-height: 150px;
  overflow-y: auto;
  background-color: #f8f8f8;
  border: 1px solid #ccc;
  border-radius: 5px;
  z-index: 1;
}

.suggestion {
  padding: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.suggestion:hover {
  background-color: #e0e0e0;
}

/* Styles for the "Create Group" section */
.create-group {
  margin-top: 1rem;
  padding: 1rem;
  background-color: #f8f8f8;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.create-group-heading {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.create-group-input {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 0.5rem;
  font-size: 1rem;
}

.create-group-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.create-group-button:hover {
  background-color: #0056b3;
}

