.edit-login {
  color: #000;
  text-transform: uppercase;
  letter-spacing: 2px;
  display: block;
  font-weight: bold;
  font-size: x-large;
}

.edit-card {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 350px;
  width: 300px;
  flex-direction: column;
  gap: 35px;
  background: #e3e3e3;
  box-shadow: 16px 16px 32px #c8c8c8, -16px -16px 32px #fefefe;
  border-radius: 8px;
}

.edit-inputBox {
  position: relative;
  width: 250px;
}

.edit-inputBox input {
  width: 100%;
  padding: 10px;
  outline: none;
  border: none;
  color: #000;
  font-size: 1em;
  background: transparent;
  border-left: 2px solid #000;
  border-bottom: 2px solid #000;
  transition: 0.1s;
  border-bottom-left-radius: 8px;
}

.edit-inputBox span {
  margin-top: 5px;
  position: absolute;
  left: 0;
  transform: translateY(-4px);
  margin-left: 10px;
  padding: 10px;
  pointer-events: none;
  font-size: 12px;
  color: #000;
  text-transform: uppercase;
  transition: 0.5s;
  letter-spacing: 3px;
  border-radius: 8px;
}

.edit-inputBox input:valid ~ span,
.edit-inputBox input:focus ~ span {
  transform: translateX(113px) translateY(-15px);
  font-size: 0.8em;
  padding: 5px 10px;
  background: #000;
  letter-spacing: 0.2em;
  color: #fff;
  border: 2px;
}

.edit-inputBox input:valid,
.edit-inputBox input:focus {
  border: 2px solid #000;
  border-radius: 8px;
}

.edit-enter {
  height: 45px;
  width: 100px;
  border-radius: 5px;
  border: 2px solid #000;
  cursor: pointer;
  background-color: transparent;
  transition: 0.5s;
  text-transform: uppercase;
  font-size: 10px;
  letter-spacing: 2px;
  margin-bottom: 1em;
}

.edit-enter:hover {
  background-color: rgb(0, 0, 0);
  color: white;
}


.upload-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table-head th {
  background-color: #007bff;
  color: white;
  font-weight: bold;
  padding: 10px;
}

.table tbody td {
  border: 1px solid #ccc;
  padding: 10px;
}

.action-buttons {
  display: flex;
  gap: 10px;
}

.edit-btn,
.delete-btn {
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.edit-btn:hover,
.delete-btn:hover {
  background-color: #f0f0f0;
}

.upload-section,
.video-upload-section {
  background-color: #f8f8f8;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
}

.upload-heading,
.video-upload-heading {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.upload-form,
.video-form {
  margin-top: 10px;
}

.upload-form label,
.video-form label {
  font-weight: bold;
  color: #666;
}

.upload-form .form-select,
.video-form .form-select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
}

.video-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.video-thumbnail {
  width: 100px;
  height: auto;
}
