.education-login-box {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.education-form {
        width: 100%;
}

.education-input-box {
  position: relative;
  width: 100%;
}

.education-input-box .education-input {
  position: relative;
  width: 100%;
  padding: 25px 10px 10px;
  background: transparent;
  outline: none;
  box-shadow: none;
  border: none;
  color: #23242a;
  font-size: 1em;
  letter-spacing: 0.05em;
  transition: 0.5s;
  z-index: 10;
}

.education-input-box span {
  position: absolute;
  left: 0;
  padding: 25px 10px 10px;
  font-size: 1em;
  color: #8f8f8f;
  letter-spacing: 00.05em;
  transition: 0.5s;
  pointer-events: none;
}

.education-input-box .education-input:valid ~ span,
.education-input-box .education-input:focus ~ span {
  /* color: #45f3ff; */
  transform: translateX(-10px) translateY(-20px);
  font-size: 0, 75em;
}

.education-input-box i {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: #ddd;
  border-radius: 4px;
  transition: 0.5s;
  pointer-events: none;
  z-index: 9;
}

.education-input-box .education-input:valid ~ i,
.education-input-box .education-input:focus ~ i {
  height: 2px;
}
