.table, .edit-btn, .delete-btn {
  font-size: 12px;
}

tbody{
  margin-top: 2px !important;
  /* margin-bottom: auto; */
}

.table-head {
  background-color: #3C37FF;
}
.education-login-box {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.education-form {
  width: 100%;
}

.education-input-box {
  position: relative;
  width: 100%;
  margin-top: 20px;
}

.education-input-box .education-input {
  position: relative;
  width: 100%;
  padding: 25px 10px 10px;
  background: transparent;
  outline: none;
  box-shadow: none;
  border: none;
  color: #23242a;
  font-size: 1em;
  letter-spacing: 0.05em;
  transition: 0.5s;
  z-index: 10;
}

.education-input-box span {
  position: absolute;
  left: 0;
  padding: 25px 10px 10px;
  font-size: 1em;
  color: #8f8f8f;
  letter-spacing: 00.05em;
  transition: 0.5s;
  pointer-events: none;
  text-transform: uppercase;
}

.education-input-box .education-input:valid ~ span,
.education-input-box .education-input:focus ~ span {
  /* color: #45f3ff; */
  transform: translateX(-10px) translateY(-20px);
  font-size: 0, 75em;
}

.education-input-box i {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: #ddd;
  border-radius: 4px;
  transition: 0.5s;
  pointer-events: none;
  z-index: 9;
}

.education-input-box .education-input:valid ~ i,
.education-input-box .education-input:focus ~ i {
  height: 2px;
}

form .submit-btn {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  font-weight: bold;
  color: #fff;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: 0.5s;
  margin-top: 40px;
  letter-spacing: 3px;
}

.submit-btn:hover {
  background: #fff;
  color: #272727;
  border-radius: 5px;
}

.submit-btn span {
  position: absolute;
  display: block;
}

.submit-btn span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #fff);
  animation: btn-anim1 1.5s linear infinite;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }

  50%,
  100% {
    left: 100%;
  }
}

.submit-btn span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #fff);
  animation: btn-anim2 1.5s linear infinite;
  animation-delay: 0.375s;
}

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }

  50%,
  100% {
    top: 100%;
  }
}

.submit-btn span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #fff);
  animation: btn-anim3 1.5s linear infinite;
  animation-delay: 0.75s;
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }

  50%,
  100% {
    right: 100%;
  }
}

.submit-btn span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #fff);
  animation: btn-anim4 1.5s linear infinite;
  animation-delay: 1.125s;
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }

  50%,
  100% {
    bottom: 100%;
  }
}

.my-swal .my-popup {
  width: 40%;
}

.my-swal .my-title {
  font-size: 25px;
}


@media screen and (max-width: 600px) {
  .my-swal .my-popup {
    width: 100%;
  }
}