.email-verification-from {
  width: 30%;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

@media screen and (max-width: 600px) {
  .email-verification-from {
    width: 100%;
  }
}

.my-email-warning-swal {
  background-color: orange !important;
}
