.email-verification-from {
  width: 30%;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.email-verification--next-btn {
  left: 8.5%;
}

@media screen and (max-width: 780px) {
  .email-verification-from {
    width: 100%;
  }
  .step3-back-btn {
    left: 12% !important;
  }

  .change-password-btn {
    width: auto !important;
  }

  .email-verification--next-btn {
    left: 20% !important;
  }
}

.my-email-warning-swal {
  background-color: orange !important;
}
