.payment-card {
  width: 500px;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.status {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.status-value {
  display: flex;
  justify-content: space-between;
  align-items: center; /* Vertically center align */
  font-size: 18px;
}

.paid {
  color: green;
}

.not-paid {
  color: red;
}

.amount {
  display: flex;
  justify-content: space-between;
  align-items: center; /* Vertically center align */
  font-size: 18px;
}

.method {
  display: flex;
  justify-content: space-between;
  align-items: center; /* Vertically center align */
  font-size: 14px;
  margin-bottom: 10px;
}

.payment-slip {
        margin-top: 20px;
        border-top: 1px solid #ccc;
        padding-top: 20px;
      }
      
      .payment-slip span {
        font-weight: bold;
        display: block;
      }
      
      .payment-slip small {
        font-weight: bold;
        display: block;
        margin-top: 5px;
      }
      
      .payment-slip input[type="file"] {
        margin-top: 10px;
      }
      
      .selected-image {
        margin-top: 10px;
      }
      
      .selected-image img {
        max-width: 100%;
        max-height: 100px;
        border: 1px solid #ccc;
        border-radius: 5px;
        margin-top: 5px;
      }


      @media screen and (max-width: 767px) {
        .payment-card {
          width: 100%;
        }
        
        .status,
        .amount,
        .method {
          flex-direction: column;
          align-items: flex-start;
          font-size: 16px;
        }
        
        .status-value {
          margin-top: 10px;
        }
      }