.payment-card {
  width: 500px;
  border: 1px solid #ccc;
  padding: 20px;
  padding-bottom: 50px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.status {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.status-value {
  display: flex;
  justify-content: space-between;
  align-items: center; /* Vertically center align */
  font-size: 18px;
}

.paid {
  color: green;
}

.not-paid {
  color: red;
}

.amount {
  display: flex;
  justify-content: space-between;
  align-items: center; /* Vertically center align */
  font-size: 18px;
}

.method {
  display: flex;
  justify-content: space-between;
  align-items: center; /* Vertically center align */
  font-size: 14px;
  margin-bottom: 10px;
}

.payment-slip {
  margin-top: 20px;
  border-top: 1px solid #ccc;
  padding-top: 20px;
  position: relative;
}

.payment-slip span {
  font-weight: bold;
  display: block;
}

.payment-slip small {
  font-weight: bold;
  display: block;
  margin-top: 5px;
}

.payment-slip input[type="file"] {
  margin-top: 10px;
  width: 100%;
  max-width: 300px;
}

.selected-image {
  margin-top: 10px;
}

.selected-image img {
  max-width: 100%;
  max-height: 100px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 5px;
}

.selected-image img:hover {
  cursor: pointer;
}








.loader {
  width: 2rem;
  height: 2rem;
  clear: both;
  margin: 1rem auto;
  border: 0.0625rem #000 solid;
  border-radius: 0.25rem;
  overflow: hidden;
  position: relative;
}

.loader:after,
.loader:before {
  content: "";
  border-radius: 50%;
  position: absolute;
  width: inherit;
  height: inherit;
  animation: spVortex 2s infinite linear;
}

.loader:before {
  border-top: 0.375rem #000 solid;
  top: -0.1875rem;
  left: calc(-50% - 0.1875rem);
  transform-origin: right center;
}

.loader:after {
  border-bottom: 0.375rem #000 solid;
  top: 0.1875rem;
  right: calc(-50% - 0.1875rem);
  transform-origin: left center;
}

@keyframes spVortex {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(359deg);
  }
}


.arrow {
  transform: rotate(180deg);
  cursor: pointer;
  position: absolute;
  bottom: -20px;
  left: 15px;
}

.arrow span {
  display: block;
  width: 15px;
  height: 15px;
  border-bottom: 5px solid red;
  border-right: 5px solid red;
  transform: rotate(45deg);
  margin: -15px;
  animation: animate28797 2s infinite;
}

.arrow span:nth-child(2) {
  animation-delay: -0.2s;
}

.arrow span:nth-child(3) {
  animation-delay: -0.4s;
}

@keyframes animate28797 {
  0% {
    opacity: 0;
    transform: rotate(45deg) translate(-15px, -15px);
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: rotate(45deg) translate(15px, 15px);
  }
}


.admission-receipt {
  position: relative;
  border-radius: 10px;
  width: 80px;
  height: 80px;
  background-color: rgb(143, 139, 139);
  perspective: 2000px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
  cursor: pointer;
}

.cover-container {
  top: 0;
  position: absolute;
  background-color: gray;
  background-image: url("pic/img_icon.png");
  background-size: 40%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-blend-mode: multiply;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.5s;
  transform-origin: 0;
  box-shadow: 1px 1px 12px #000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.admission-receipt:hover .cover-container {
  transition: all 0.5s;
  transform: rotatey(-95deg);
}

.cover-img {
  opacity: 0.2;
  transition: opacity 0.3s;
  position: relative;
}

.cover-img::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3); /* Overlay color and opacity */
  pointer-events: none; /* Allow clicking through the overlay */
}

.admission-receipt:hover .cover-img {
  opacity: 1;
}

.cover-txt {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 6px;
  border-radius: 4px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
}

.admission-receipt img {
  width: 100%;
  height: 100%;
}






@media screen and (max-width: 767px) {
  .payment-card {
    width: 100%;
  }

  /* .status,
  .amount,
  .method {
    flex-direction: column;
    align-items: flex-start;
    font-size: 16px;
  } */

  .status-value {
    margin-top: 10px;
  }

  .admission-receipt {
    width: 100px !important;
    height: 100px !important;
  }

  .payment-slip input[type="file"] {
    max-width: 100%;
  }
}