/* @tailwind base;
@tailwind components;
@tailwind utilities; */

#offCan {
  transition: all 0.3s ease-in-out;
}

.show {
  display: block !important;
  opacity: 1 !important;
}

.hide {
  display: none !important;
  opacity: 0 !important;
}

.new-class {
  background-color: blue !important;
}

#nav {
  background-color: #eff0f5;
}

#nav i:hover {
  cursor: pointer !important;
  background-color: red !important;
}

@media screen and (min-width: 768px) {
  .offcanvas-btn2 {
    display: none !important;
  }
}

@media screen and (max-width: 768px) {
  #offCan {
    display: none !important;
  }

  #nav {
    width: 100% !important;
  }

  .offcanvas-btn {
    display: none !important;
  }
}

.custom-stepper .completed-step {
  color: red !important;
  background-color: aqua !important;
}



.loader {
  transform: rotateZ(45deg);
  perspective: 1000px;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  color: #91ff00;
}

.loader:before,
.loader:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
  height: inherit;
  border-radius: 50%;
  transform: rotateX(70deg);
  animation: 1s spin linear infinite;
}

.loader:after {
  color: #FF3D00;
  transform: rotateY(70deg);
  animation-delay: .4s;
}

@keyframes rotate {
  0% {
    transform: translate(-50%, -50%) rotateZ(0deg);
  }

  100% {
    transform: translate(-50%, -50%) rotateZ(360deg);
  }
}

@keyframes rotateccw {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  100% {
    transform: translate(-50%, -50%) rotate(-360deg);
  }
}

@keyframes spin {
  0%,
  100% {
    box-shadow: .2em 0px 0 0px currentcolor;
  }

  12% {
    box-shadow: .2em .2em 0 0 currentcolor;
  }

  25% {
    box-shadow: 0 .2em 0 0px currentcolor;
  }

  37% {
    box-shadow: -.2em .2em 0 0 currentcolor;
  }

  50% {
    box-shadow: -.2em 0 0 0 currentcolor;
  }

  62% {
    box-shadow: -.2em -.2em 0 0 currentcolor;
  }

  75% {
    box-shadow: 0px -.2em 0 0 currentcolor;
  }

  87% {
    box-shadow: .2em -.2em 0 0 currentcolor;
  }
}
   