.input {
  border: solid 1.5px #9e9e9e;
  border-radius: 5px;
  background: none;
  padding: 8px 10px;
  font-size: 14px;
  color: black;
  margin-top: auto;
  margin-bottom: auto;
  outline: none;
  transition: border 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

.telephone-container .input[type="tel"] {
  padding: 8px 10px 8px 65px;
}

.input:focus {
  background-color: #f8f9fa;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 30000s 0s, color 600000s 0s;
}
input[data-autocompleted] {
  background-color: transparent;
}

.user-label {
  position: absolute;
  left: 20px;
  top: -9px;
  color: gray;
  pointer-events: none;
  transform: translateY(1rem);
  transition: 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

.tel {
  left: 77px;
}

.input:focus,
input:valid {
  outline: none !important;
  border: 1px solid #1a73e8;
  border-color: inherit;
  box-shadow: none;
}

.input:focus ~ label,
.input:valid ~ label {
  transform: translateY(-50%) scale(0.8);
  background-color: #f8f9fa;
  padding: 0 0.2em;
  color: #2196f3;
  top: 1px;
  height: 25px;
}


.tel-span {
  color: black;
  padding: 8px 2px;
  border: solid 1.5px #9e9e9e;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  background: #E9ECEF;
  font-size: 14px;
  color: black;
  margin-top: auto;
  margin-bottom: auto;
  outline: none;
  transition: border 150ms cubic-bezier(0.4, 0, 0.2, 1);
  top: 0;
}

select.dial-code option {
  background-color: #ffff;
  font-size: px ;
  color: #000000;
  padding: 4px 8px; 
}



@media screen and (min-width: 768px) {
  .signup-header {
    background-image: unset !important;
  }
}

@media screen and (min-width: 0px) and (max-width: 768px) {
  .signup-container,
  .signup-header,
  .signup-form {
    width: 100% !important;
  }

  .signup-container {
    flex-direction: column;
    padding: unset !important;
    position: relative;
    height: auto !important;
  }
  .admission-hero {
    width: 100% !important;
    margin-top: 80px;
    padding: 10px !important;
    overflow-y: scroll;
  }
  
  .signup-form {
    margin-top: 240px;
    padding: 10px !important;
    overflow-y: scroll;
    /* position: relative; */
  }


  .signup-header {
    border-radius: unset !important;
    position: fixed !important;
    height: auto !important;
    padding: 10px 15px !important;
    z-index: 1;
    /* background-image: radial-gradient(
        circle at 20% -25%,
        #3c37ff 35%, #3c37ff 35%
      ),
      url("pic/signupimg.jpg"); */
    background-color: #3c37ff;
    transition: background-color 1ms;
    background-size: cover; /* Use 'cover' to stretch the background image */
    background-position: center 40%;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
  }

  .signup-btn {
    width: 100%;
  }

  .header-text {
    margin-top: 30px;
  }

  .admission, .create-account {
    padding: 20px 20px !important;
  }

  .admission-nav {
    flex-direction: column;
  }
}

/* #demo-select-small-label:focus, #demo-select-small-label:active {
  color: red;
} */

.loaders {
  width: 30px;
  height: 100%;
  /* background-color: ; */
  border-radius: 50%;
  border-top: 16px rgba(0,0,0,0.75) solid;
  border-left: 16px rgba(0,0,0,0.25) solid;
  border-bottom: 16px rgba(0,0,0,0.25) solid;
  border-right: 16px rgba(0,0,0,0.25) solid;
  animation: spSlices 1s infinite linear;
}

@keyframes spSlices {
  0% {
    border-top: 16px rgba(0,0,0,0.75) solid;
    border-right: 16px rgba(0,0,0,0.25) solid;
    border-bottom: 16px rgba(0,0,0,0.25) solid;
    border-left: 16px rgba(0,0,0,0.25) solid;
  }

  25% {
    border-top: 16px rgba(0,0,0,0.25) solid;
    border-right: 16px rgba(0,0,0,0.75) solid;
    border-bottom: 16px rgba(0,0,0,0.25) solid;
    border-left: 16px rgba(0,0,0,0.25) solid;
  }

  50% {
    border-top: 16px rgba(0,0,0,0.25) solid;
    border-right: 16px rgba(0,0,0,0.25) solid;
    border-bottom: 16px rgba(0,0,0,0.75) solid;
    border-left: 16px rgba(0,0,0,0.25) solid;
  }

  75% {
    border-top: 16px rgba(0,0,0,0.25) solid;
    border-right: 16px rgba(0,0,0,0.25) solid;
    border-bottom: 16px rgba(0,0,0,0.25) solid;
    border-left: 16px rgba(0,0,0,0.75) solid;
  }

  100% {
    border-top: 16px rgba(0,0,0,0.75) solid;
    border-right: 16px rgba(0,0,0,0.25) solid;
    border-bottom: 16px rgba(0,0,0,0.25) solid;
    border-left: 16px rgba(0,0,0,0.25) solid;
  }
}



.loaderBar {
  width: 120px; /* calc(160px / 0.707); */
  height: 20px;
  background: #F9F9F9;
  border-radius: 10px;
  border: 1px solid #006DFE;
  position: relative;
  overflow: hidden;
}

.loaderBar::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  border-radius: 5px;
  background: repeating-linear-gradient(45deg, #0031F2 0 30px, #006DFE 0 40px) right/200% 100%;
  animation: fillProgress 2s ease-in-out infinite, lightEffect 1s infinite linear;
  animation-fill-mode: forwards;
}

@keyframes fillProgress {
  0% {
    width: 0;
  }

  33% {
    width: 33.333%;
  }

  66% {
    width: 66.67%;
  }

  100% {
    width: 100%;
  }
}

@keyframes lightEffect {
  0%, 20%, 40%, 60%, 80%, 100% {
    background: repeating-linear-gradient(45deg, #0031F2 0 30px, orange 0 40px) right/200% 100%;
  }

  10%, 30%, 50%, 70%, 90% {
    background: repeating-linear-gradient(45deg, #0031F2 0 30px, orange 0 40px, rgba(255, 255, 255, 0.3) 0 40px) right/200% 100%;
  }
}


@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.blinking-emoji {
  animation: blink 1s infinite; /* Adjust the duration as needed */
}



