/* @tailwind base;
@tailwind components;
@tailwind utilities; */

#offCan {
  transition: all 0.3s ease-in-out;
}

.show {
  display: block !important;
  opacity: 1 !important;
}

.hide {
  display: none !important;
  opacity: 0 !important;
}

.new-class {
  background-color: blue !important;
}

#nav {
  background-color: #eff0f5;
}

#nav i:hover {
  cursor: pointer !important;
  background-color: red !important;
}

@media screen and (min-width: 768px) {
  .offcanvas-btn2 {
    display: none !important;
  }
}

@media screen and (max-width: 768px) {
  #offCan {
    display: none !important;
  }

  #nav {
    width: 100% !important;
  }

  .offcanvas-btn {
    display: none !important;
  }
}

.custom-stepper .completed-step {
  color: red !important;
  background-color: aqua !important;
}



.loader {
  width: 8px;
  height: 40px;
  border-radius: 4px;
  display: block;
  background-color: currentColor;
  margin: 20px auto;
  position: relative;
  color: blue;
  animation: animloader 0.3s 0.3s linear infinite alternate;
}

.loader::after,
.loader::before {
  content: '';
  width: 8px;
  height: 40px;
  border-radius: 4px;
  background: currentColor;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 20px;
  animation: animloader 0.3s 0.45s linear infinite alternate;
}

.loader::before {
  left: -20px;
  animation-delay: 0s;
}

@keyframes animloader {
  0% {
    height: 48px;
  }

  100% {
    height: 4px;
  }
}
   