@media screen and (max-width: 768px) {
  .text-container2, .question-container {
        width: 100% !important;
        margin-left: 0;
        margin-right: 0;
        padding: 0px 10px;
  }

  .start-exam-btn {
    width: 100%;
    justify-content: center;
    padding: 5px;
  }

  .start-exam-div {
    padding: 5px 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0;
    right: 0;
    background-color: whitesmoke;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
  }

  .question-ul label {
    width: 100% !important;
  }
}


.blinking {
  animation: blink-animation 2s infinite;
}

@keyframes blink-animation {
  0%, 50%, 100% {
    opacity: 1;
  }
  25%, 75% {
    opacity: 0;
  }
}
