@media screen and (max-width: 768px) {
  .text-container2,
  .question-container {
    width: 100% !important;
    margin-left: 0;
    margin-right: 0;
    padding: 0px 10px;
  }

  .start-exam-btn {
    width: 100%;
    justify-content: center;
    padding: 5px;
  }

  .start-exam-div {
    padding: 5px 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0;
    right: 0;
    background-color: whitesmoke;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
  }

  .question-ul label {
    width: 100% !important;
  }

  .question-navigation-table {
    position: relative;
    top: 87% !important;
    right: auto !important;
    left: auto;
    display: flex;
    overflow-x: auto;
    background-color: transparent;
    box-shadow: none;
    transform: translate(15%, 0%);
  }

  .button-container {
    margin-top: unset !important;
    /* bottom: 100px !important; */
    /* margin-bottom: 100px; */
    /* margin-bottom: 100px; */
    /* top: 100px; */
  }

  .question-h4 {
    display: none;
  }

  .question-number-list {
    display: flex;
    gap: 5px;
    flex-wrap: nowrap;
    padding: 5px 0;
  }

  .question-number-list li {
    cursor: pointer;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    background-color: #f0f0f0;
  }

  .question-number-list li.active {
    background-color: #007bff;
    color: white;
    border: none;
  }

  .tick-mark {
    bottom: 0;
    right: 0 !important;
  }
}

.blinking {
  animation: blink-animation 2s infinite;
}

@keyframes blink-animation {
  0%,
  50%,
  100% {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0;
  }
}

.question-navigation-table {
  position: absolute;
  top: 15%;
  right: 0%;
  padding: 10px;
  background-color: #f0f0f0;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.question-number-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.question-number-list li {
  cursor: pointer;
  padding: 5px;
}

.question-number-list li.active {
  background-color: #007bff;
  color: white;
  border-radius: 3px;
}

.answered {
  color: green;
}

.question-number-item:hover {
  background-color: rgba(128, 128, 128, 0.171);
}
