.each-input-container {
  position: relative;
  /* margin: 50px auto; */
  width: 100%;
}

.each-input-container .each-input-input {
  font-size: 20px;
  width: 100%;
  border: none;
  border-bottom: 2px solid #ccc;
  padding: 5px 0;
  background-color: transparent;
  outline: none;
}

.each-input-container .each-input-label {
  position: absolute;
  top: 10px;
  left: 0;
  color: #ccc;
  transition: all 0.3s ease;
  pointer-events: none;
}

.each-input-container .each-input-input:focus ~ .each-input-label,
.each-input-container .each-input-input:valid ~ .each-input-label {
  top: -5px;
  font-size: 16px;
  color: #333;
}

.each-input-container .underline {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: #333;
  transform: scaleX(0);
  transition: all 0.3s ease;
}

.each-input-container .each-input-input:focus ~ .underline,
.each-input-container .each-input-input:valid ~ .underline {
  transform: scaleX(1);
} 


