/* ContactUs.css */

.contact-us-container {
  /* display: flex; */
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.contact-info {
  flex: 1;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

.contact-info h1 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #333;
}

.contact-info p {
  font-size: 16px;
  margin-bottom: 10px;
  color: #555;
}

.contact-info p:last-child {
  margin-bottom: 0;
}

.contact-form-container {
  flex: 1;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

.contact-form-container .form-group {
  margin-bottom: 20px;
}

.contact-form-container-input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.error {
  color: #ff0000;
  font-size: 14px;
}

.contact-form-submit-btn {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
}

.contact-form-submit-btn:hover {
  background-color: #0056b3;
}

.map {
  flex: 1;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

.custom-toast-width {
  width: auto !important;
  bottom: 10px !important;
  overflow: hidden !important;
}

/* Custom CSS */
.custom-toast-position {
  top: 20px; /* Adjust the top position as needed */
  right: 20px; /* Adjust the right position as needed */
}

.close-button {
  border: none;
  color: red !important;
  font-size: 20px;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  padding: 0px 5px;
  z-index: 1;
}

.toast-content {
  color: red !important;
  position: absolute;
  top: 0;
  right: 20px;
}

/* Responsive Design */
@media screen and (max-width: 768px) {
  .contact-us-container {
    flex-direction: column;
  }

  .contact-info,
  .contact-form-container,
  .map {
    width: 100%;
    margin-bottom: 20px;
  }

  .custom-toast-width {
    width: 100% !important;
    margin-left: auto;
    margin-right: auto;
  }

  .custom-toast-position {
    top: 0px;
    right: 0px;
  }
}
