@tailwind base;
@tailwind components;
@tailwind utilities;

#offCan {
  transition: all 0.3s ease-in-out;
}

.show {
  display: block !important;
  opacity: 1 !important;
}

.hide {
  display: none !important;
  opacity: 0 !important;
}
