@media screen and (min-width: 0px) and (max-width: 768px) {
  .error-section {
    padding-top: 150px !important;
  }
  .error-container {
    width: 100% !important;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
  }

  .error-header, .error-footer {
        width: 100% !important;
  }
}
