.form-control {
  position: relative;
  margin: 40px 0 40px;
  width: 100%;
  border: none;
  /* background-color: inherit; */
}

.form-control input {
  background-color: inherit;
  border: 0;
  outline: none;
  border-bottom: 2px gray solid;
  display: block;
  width: 100%;
  padding: 5px 0;
  font-size: 18px;
  color: black;
}

.form-control input:focus,
.form-control input:valid {
  outline: none;
  border-bottom: 4px solid #3c37ff;
  outline: none ;
  box-shadow: none;
  border-left: none;
  border-top: none;
  border-right: none;
}

.form-control label {
  position: absolute;
  top: 15px;
  left: 0;
  pointer-events: none;
  border: none;
}

.form-control label span {
  display: inline-block;
  font-size: 18px;
  min-width: 5px;
  color: #fff;
  transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.form-control input:focus+label span,
.form-control input:valid+label span {
  color: rgb(4, 4, 226);
  transform: translateY(-30px);
}


