
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }

      body {
        background-color: white;
        position: relative;
      }
      .nav-link {
        text-transform: uppercase;
      }
   
      /* #stickyNav {
        animation-name: slide;
        animation-duration: 2s;
        animation-timing-function: linear;
        animation-fill-mode: both;
      }
      @keyframes slide {
        0% {transform: translateY(0px);}
        100% {transform: translateY(-40px);}
      } */

      /* #stickyNav {
        
      } */